{
  "Entries": [
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourcegroups/sdktestrg9724?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724\",\r\n  \"name\": \"sdktestrg9724\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/clusters/testcluster1149?api-version=2021-08-27",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D13_v2\",\r\n    \"capacity\": 2,\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"trustedExternalTenants\": [\r\n      {\r\n        \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/westus2/operationResults/3d6af232-c06f-4d8c-b8ea-5139727917db?api-version=2021-08-27"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/Clusters/testcluster1149\",\r\n  \"name\": \"testcluster1149\",\r\n  \"type\": \"Microsoft.Kusto/Clusters\",\r\n  \"etag\": \"\\\"\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D13_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"state\": \"Creating\",\r\n    \"trustedExternalTenants\": [\r\n      {\r\n        \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/westus2/operationResults/3d6af232-c06f-4d8c-b8ea-5139727917db?api-version=2021-08-27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-operation-root-activity-id": [
          "953f72df-6a4d-47b0-aa75-2aed45fe3356"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/westus2/operationresults/3d6af232-c06f-4d8c-b8ea-5139727917db\",\r\n  \"name\": \"3d6af232-c06f-4d8c-b8ea-5139727917db\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-10-07T08:11:41.0008244Z\",\r\n  \"endTime\": \"2021-10-07T08:11:41.0008244Z\",\r\n  \"percentComplete\": 0.5,\r\n  \"properties\": {\r\n    \"operationKind\": \"ClusterCreateExternal\",\r\n    \"provisioningState\": \"Running\",\r\n    \"operationState\": \"InProgress\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/clusters/testcluster1149?api-version=2021-08-27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"2021-10-07T08:23:16.8759127Z\""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/Clusters/testcluster1149\",\r\n  \"name\": \"testcluster1149\",\r\n  \"type\": \"Microsoft.Kusto/Clusters\",\r\n  \"etag\": \"\\\"2021-10-07T08:23:16.8759127Z\\\"\",\r\n  \"location\": \"West US 2\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D13_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"state\": \"Running\",\r\n    \"stateReason\": null,\r\n    \"uri\": \"https://testcluster1149.westus2.dev.kusto.windows.net\",\r\n    \"dataIngestionUri\": \"https://ingest-testcluster1149.westus2.dev.kusto.windows.net\",\r\n    \"trustedExternalTenants\": [\r\n      {\r\n        \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    ],\r\n    \"virtualNetworkConfiguration\": null,\r\n    \"optimizedAutoscale\": null,\r\n    \"enableDiskEncryption\": false,\r\n    \"enableStreamingIngest\": false,\r\n    \"keyVaultProperties\": null,\r\n    \"languageExtensions\": {\r\n      \"value\": []\r\n    },\r\n    \"enablePurge\": null,\r\n    \"enableDoubleEncryption\": false,\r\n    \"engineType\": \"V3\",\r\n    \"acceptedAudiences\": [],\r\n    \"restrictOutboundNetworkAccess\": \"Disabled\",\r\n    \"allowedFQDNList\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"allowedIpRangeList\": [],\r\n    \"enableAutoStop\": true,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/clusters/testcluster1149/managedPrivateEndpoints/managedprivateendpointname6714?api-version=2021-08-27",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"privateLinkResourceId\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/test-clients-rg/providers/Microsoft.EventHub/namespaces/testclientsns22\",\r\n    \"groupId\": \"namespace\",\r\n    \"requestMessage\": \"Please Approve Kusto\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/West US 2/operationResults/4e5e57c8-475c-4bdd-a593-4760ac448f56?api-version=2021-08-27"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/Clusters/testcluster1149/ManagedPrivateEndpoints/managedprivateendpointname6714\",\r\n  \"name\": \"testcluster1149/managedprivateendpointname6714\",\r\n  \"type\": \"Microsoft.Kusto/Clusters/ManagedPrivateEndpoints\",\r\n  \"location\": \"DummyLocation\",\r\n  \"properties\": {\r\n    \"privateLinkResourceId\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/test-clients-rg/providers/Microsoft.EventHub/namespaces/testclientsns22\",\r\n    \"groupId\": \"namespace\",\r\n    \"requestMessage\": \"Please Approve Kusto\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/4e5e57c8-475c-4bdd-a593-4760ac448f56?api-version=2021-08-27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-operation-root-activity-id": [
          "a457043e-b644-407b-8f5b-ccf4cf4ab8fd"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "282"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/West US 2/operationresults/4e5e57c8-475c-4bdd-a593-4760ac448f56\",\r\n  \"name\": \"4e5e57c8-475c-4bdd-a593-4760ac448f56\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-10-07T08:24:16.1288463Z\",\r\n  \"endTime\": \"2021-10-07T08:24:16.1912053Z\",\r\n  \"percentComplete\": 0.5,\r\n  \"properties\": {\r\n    \"operationKind\": \"ManagedPrivateEndpointCreateOrUpdate\",\r\n    \"provisioningState\": \"Running\",\r\n    \"operationState\": \"InProgress\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/clusters/testcluster1149/managedPrivateEndpoints/managedprivateendpointname6714?api-version=2021-08-27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/Clusters/testcluster1149/ManagedPrivateEndpoints/managedprivateendpointname6714\",\r\n  \"name\": \"testcluster1149/managedprivateendpointname6714\",\r\n  \"type\": \"Microsoft.Kusto/Clusters/ManagedPrivateEndpoints\",\r\n  \"location\": \"DummyLocation\",\r\n  \"properties\": {\r\n    \"privateLinkResourceId\": \"/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/test-clients-rg/providers/Microsoft.EventHub/namespaces/testclientsns22\",\r\n    \"groupId\": \"namespace\",\r\n    \"requestMessage\": \"Please Approve Kusto\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"713c3475-5021-4f3b-a650-eaa9a83f25a4\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-10-07T08:24:15.5699485Z\",\r\n    \"lastModifiedBy\": \"713c3475-5021-4f3b-a650-eaa9a83f25a4\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-10-07T08:24:15.5699485Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/sdktestrg9724/providers/Microsoft.Kusto/clusters/testcluster1149/managedPrivateEndpoints/managedprivateendpointname6714?api-version=2021-08-27",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/fdd68679-e95d-4c6c-b9fd-23da6f8b21fa?api-version=2021-08-27&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/West US 2/operationResults/fdd68679-e95d-4c6c-b9fd-23da6f8b21fa?api-version=2021-08-27"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/fdd68679-e95d-4c6c-b9fd-23da6f8b21fa?api-version=2021-08-27&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "289"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/7dd49def-450d-4c56-a658-f0b1ae407aab?api-version=2021-08-27&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "281"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Initialize": [
      "sdktestrg9724",
      "testcluster1149",
      "testfollower3877",
      "testdatabase4146",
      "testattacheddatabaseconfiguration5009",
      "eventhubConnection491",
      "eventGridConnection302",
      "iothubConnection1365",
      "privateendpointname6123",
      "managedprivateendpointname6714"
    ]
  },
  "Variables": {
    "SubscriptionId": "58359f48-f3fe-4fd2-b007-4e3dede54d09",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubId": "58359f48-f3fe-4fd2-b007-4e3dede54d09"
  }
}